<form class="form-inline" role="form">
  <div id="coords-form">
    <div class="form-group">
      <label class="sr-only" for="eixo_x">Eixo X</label>
      <input type="text" class="form-control" id="eixo_x" placeholder="Eixo X">
    </div>
    <div class="form-group">
      <label class="sr-only" for="eixo_y">Eixo Y</label>
      <input type="text" class="form-control" id="eixo_y" placeholder="Eixo Y">
    </div>

    <button id="btn_addPoint" type="button" class="btn btn-primary">Adicionar</button>
    <button id="btn_viewPoli" type="button" class="btn btn-primary disabled">Visualizar Poligonal</button>
  </div>
  <br />
  <br />
  <table id="tb_coords" class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th>Eixo X</th>
    <th>Eixo Y</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>

</form>
